<div class="row border rounded mt-1" ng-class="{'border-primary': $ctrl.initiativeCount == $ctrl.pc.initiative}">
  <div class="col-1">
    <div ng-if="!$ctrl.editNameMode" class="form-group">
      <input id="changeNameInput" type="text" class="form-control" ng-model="$ctrl.pc.name" placeholder="Name">
    </div>
  </div>
  <div class="col-xl-auto">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col-8">
            <div ng-if="!$ctrl.editHpMode && !$ctrl.minusHpMode">
              <div class="form-group has-success">
                <div class="input-group">
                  <input type="number" class="form-control" ng-model="$ctrl.pc.hp">
                  <div class="input-group-append">
                    <button ng-click="$ctrl.editMinusHp()" class="btn btn-outline-warning btn-sm btn-round ml-auto" title="Decrease hit points" ng-if="!$ctrl.addConditionMode">hp <span class="fas fa-minus ml-1 text"></span></button>
                  </div>
                </div>
              </div>
            </div>
            <form name="minusHp" ng-submit="$ctrl.minusHp()" ng-if="$ctrl.minusHpMode">
              <div class="form-group">
                <div class="input-group">
                  <input id="minusHpId" type="number" class="form-control" ng-model="$ctrl.hp">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-success btn-sm">
                    <span class="fas fa-check"></span>
                  </button>
                    <button type="button" ng-click="$ctrl.editMinusHp()" class="btn btn-outline-danger btn-sm">
                    <span class="fas fa-times"></span>
                  </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-4">
            <div class="form-group has-success">
              <input type="number" class="form-control" ng-model="$ctrl.pc.dex">
              <span class="form-control-feedback text-muted"><small>dex</small></span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-1">
        </div>
      <div class="col-3">
        <div class="form-group">
          <input type="number" class="form-control text-center" placeholder="INITIATIVE" ng-model="$ctrl.pc.initiative">
        </div>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="form-group has-success" style="width: 80px;">
      <input type="number" class="form-control" ng-class="{'border-warning': !$ctrl.pc.initiative}" ng-model="$ctrl.pc.initiative">
    </div>
  </div>
  <div class="col-auto">
    <div class="btn-group" role="group" style="width: 292px;">
      <button type="button" class="btn btn-outline-success btn-sm" ng-class="{'active': !$ctrl.pc.actions[0]}" ng-disabled="$ctrl.pc.actions[2]" ng-click="$ctrl.checkAction(0)" title="Standard Action">s.a.</button>
      <button type="button" class="btn btn-outline-warning btn-sm" ng-class="{'active': !$ctrl.pc.actions[1]}" ng-disabled="$ctrl.pc.actions[2]" ng-click="$ctrl.checkAction(1)" title="Move Action">m.a.</button>
      <button type="button" class="btn btn-outline-dark btn-sm" ng-class="{'active': !$ctrl.pc.actions[2]}" ng-disabled="$ctrl.pc.actions[0] || $ctrl.pc.actions[1]" ng-click="$ctrl.checkAction(2)" title="Full-round Action">f-r.a.</button>
      <button type="button" class="btn btn-outline-info btn-sm" ng-class="{'active': !$ctrl.pc.actions[3]}" ng-click="$ctrl.checkAction(3)" title="Swift Action">sw.a</button>
    </div>
  </div>
  <div class="col">
    <condition ng-repeat="condition in $ctrl.pc.conditions track by $index" delete="$ctrl.deleteCondition($index)" condition="condition"></condition>
    <form name="addCondition" ng-submit="$ctrl.addCondition()" ng-if="$ctrl.addConditionMode" class="mt-1">
      <div class="form-row align-items-center">
        <div class="col">
          <input id="addConditionName" type="text" class="form-control form-control-sm mb-2" ng-model="$ctrl.condition.name" placeholder="name">
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input id="addConditionCount" type="number" class="form-control form-control-sm" ng-model="$ctrl.condition.count" placeholder="count">
        </div>
        <div class="col-auto">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" ng-model="$ctrl.condition.descending">
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
              descending
            </label>
          </div>
        </div>
        <div class="col">
          <div class="btn-group float-right" role="group">
            <button type="submit" class="btn btn-outline-success btn-sm">Add</button>
            <button type="button" class="btn btn-outline-danger btn-sm" ng-click="$ctrl.changeAddConditionMode()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
    <div class="btn-group ">
      <button ng-click="$ctrl.changeAddConditionMode()" class="btn btn-outline-primary btn-sm btn-round ml-auto" title="Add condition" ng-if="!$ctrl.addConditionMode"><span class="fas fa-plus"></span></button>
    </div>
  </div>
  <div class="col-auto">
    <button ng-click="$ctrl.deleteThis()" class="btn btn-outline-danger btn-sm float-right" title="Delete"><span class="fas fa-times"></span></button>
  </div>
</div>
