<div class="container-fluid">
  <div class="row">
    <pageheader title="Greyhawk Initiative Tracker" subtitle="For Pathfinder RPG"></pageheader>
  </div>

  <div class="row">
    <div class="alert" role="alert">
      Initiative count <strong>{{$ctrl.initiativeCount}}</strong>
      <div class="btn-group ml-2" role="group">
        <button type="button" class="btn btn-outline-primary btn-sm" ng-click="$ctrl.nextCount()">
          Next
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" ng-click="$ctrl.endRound()">
          End Round
        </button>
      </div>
    </div>
  </div>



  <div class="row mt-4 text-muted">
    <div class="col-2">
      Name
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-6">
              HP
            </div>
            <div class="col-6">
              DEX
            </div>
          </div>
        </div>
        <div class="col-3">
          Init
        </div>
      </div>
    </div>
    <div class="col-2">
      Combat Actions
    </div>
    <div class="col">
      Conditions and Effects
    </div>
  </div>

  <pc ng-repeat="pc in $ctrl.pcs" pc="pc" initiative-count="$ctrl.initiativeCount"></pc>

  <addpc pcs="$ctrl.pcs" clear="$ctrl.clear()"></addpc>

</div>
